body {
    font-family: Arial;
    background: #0f172a;
    color: white;
}

.light {
    background: #f1f5f9;
    color: black;
}

.container {
    width: 90%;
    max-width: 1000px;
    margin: auto;
}

.header {
    display: flex;
    justify-content: space-between;
}

.dashboard {
    display: flex;
    gap: 10px;
}

.card {
    flex: 1;
    background: #1e293b;
    padding: 10px;
    border-radius: 10px;
}

.products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 10px;
}

.products .card {
    padding: 10px;
    background: #1e293b;
}

button {
    margin-top: 5px;
    padding: 8px;
    background: green;
    color: white;
    border: none;
}

.auth-body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.auth-container {
    background: #1e293b;
    padding: 20px;
}